<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohu.ezec.mapper.UserMapper">

    <insert id="addUser" parameterType="com.xiaohu.ezec.model.User" flushCache="true">
        INSERT INTO user (
            name,
            email,
            phone
        ) VALUES (
            #{name},
            #{email},
            #{phone}
        )
    </insert>
</mapper>